<div class="container-fluid">
	<nav class="nav navbar justify-content-between">
		<div class="">
			<div class="navbar-brand">
				<b>Product List</b>
			</div>
			<button class="create" id="btnCreate" title="Create New" data-toggle="modal" data-target="#myModalCreate">Create new</button>
			<a ui-sref="login" class="logout pull-right"><b>Log out</b></a>
		</div>
	</nav>
	<div class="divider"></div>
</div>
<div class="container">
	<div class="content">
		<div class="row">
			<div class="col-md-3" ng-repeat="vm in result">
				<div class="thumbnail">
					<div class="row text-center">
						<div class="col-xs-6">
							<button type="button" class="btn btn-default btn-sm" id="btnDelete" ng-click="delete(datas.id)" title="Delete" data-toggle="modal" data-target="#myModalDelete">
							<span class="fa fa-trash"></span>
				        	</button>	
						</div>
						<div class="col-xs-6">
							<button type="button" class="btn btn-default btn-sm" id="btnEdit" ng-click="edit(vm.id)" title="Edit" data-toggle="modal" data-target="#myModalEdit">
				        	<span class="fa fa-pencil"></span> 
				        	</button>	
						</div>
					</div>
					<img class="img-responsive" ng-src="{{vm.imageurl}}">
					<div class="caption">
						<h3>{{vm.name}}</h3>
						<p>$ {{vm.price}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" id="closeCreateNew" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="material-icons">close</i>
					</button>
					<h4 class="modal-title">Create New</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label">Name</label>
						<input type="text" id="createNama" ng-model="vm.name" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label">Price</label>
						<input type="number" id="createPrice" ng-model="vm.price" class="form-control">
					</div>
					<input type="text" class="form-control" id="image" placeholder="Enter Image" name="image" ng-model="vm.imageurl">
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-default btn-round" ng-click="add(vm)" aria-hidden="true">
						<i class="material-icons">Submit</i>
					</button>
					<button type="button" class="btn btn-default btn-round" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">
						<i class="material-icons">Cancel</i>
					</button>
				</div>
			</div>
		</div>
	</div>
	

	<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="closeEdit" data-dismiss="modal" aria-hidden="true">
						<i class="material-icons">close</i>
					</button>
					<h4 class="modal-title">Edit Data</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label">Name</label>
						<input type="text" id="editId" ng-model="vm.name" ng-init="DashboardController='vm.name'" value="vm.name" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-default btn-round" aria-hidden="true" ng-click="submit(vm)">Submit</button>
					<button type="button" class="btn btn-default btn-round" data-dismiss="modal" aria-hidden="true">Cancel</button>
				</div>
				
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="closeDelete" data-dismiss="modal" aria-hidden="true">
						<i class="material-icons">close</i>
					</button>
					<h4 class="modal-title">Delete</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label">Are you sure want to delete {{vm.name}} ?</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-default btn-round" ng-click="ok()">Yes</button>
					<button type="button" class="btn btn-default btn-round" data-dismiss="modal" aria-hidden="true">No</button>
				</div>
				
			</div>
		</div>
	</div>

	
</div>